.scrumMaster {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Ruda;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
}
