* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lobby {
    flex-grow: 1;
    width: 1378px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 17px 17px 17px 43px;
    h4 {
        font-family: 'Ruda', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.container {
    width: 926px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        button {
            width: 189px;
            height: 47px;
        }
    }
}

.members,
.issues,
.cards {
    width: 100%;
    &__cardField {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.settings {
    height: 400px;
    width: 100%;
    &__wrap {
        width: 100%;
        height: 358px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    label {
        font-family: Ruda;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.playCard {
    flex: 0 0 100px;
    // width: 100px;
    height: 161px;
    border: 1px solid black;
}

.chat {
    width: 407px;
    &__message {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__text {
            width: 250px;
            border: 1px solid black;
            border-radius: 5px 0 0 5px;
        }
    }
}
