* {
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  background-color: blue;
}

.main_page {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: green;
}

.container {
  width: 1000px;
  height: 762px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 102px 26px 0;
}

@media screen and (max-width: 1050px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 470px;
    padding: 20px 10px 0;
  }
}

.new_session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 515px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  .new_session {
    width: 440px;
  }
}

.poker_planning {
  display: block;
  margin: 0 auto;
  width: 551px;
  height: auto;
}

@media screen and (max-width: 750px) {
  .poker_planning {
    width: 300px;
  }
}

.content {
  width: 515px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 382px;
}

@media screen and (max-width: 750px) {
  .content {
    width: 450px;
  }
}

.content h3 {
  font-weight: bold;
  font-size: 48px;
  color: #66999b;
}

.content p {
  font-weight: 300;
  font-size: 24px;
}

.content button {
  width: 241px;
  height: 47px;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 91px;
}

.connect__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 515px;
}

@media screen and (max-width: 750px) {
  .connect__control {
    width: 450px;
  }
}

.connect input {
  width: 60%;
  height: 47px;
  border-radius: 0 0 0 10px;
  outline: none;
  font-weight: 300;
  font-size: 24px;
  border: 1px solid #2b3a67;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.connect button {
  width: 40%;
  height: 47px;
}

.center {
  text-align: center;
}

.highlight {
  font-weight: 700;
  color: #66999b;
}

.blue {
  background-color: blue;
}
/*# sourceMappingURL=MainPage.module.css.map */