.coffee {
  transform: scale(3);
}

.demo {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100px;
  height: 160px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}