.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultButtons {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
