#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.myNodeEnter {
  opacity: 0;
}
.myNodeEnterActive {
  opacity: 1;
  transition: opacity 2000ms;
}
.myNodeExit {
  opacity: 1;
}
.myNodeExitActive {
  opacity: 0;
  transition: opacity 2000ms;
}

