#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.myNode-enter {
  opacity: 0;
}
.myNode-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.myNode-exit {
  opacity: 1;
}
.myNode-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.page-enter-active {
  animation-duration: 1s;
  animation-name: fade-in;
}

.page-exit-active {
  animation-duration: 1s;
  animation-name: fade-out;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    //transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    //transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    //transform: translateX(0);
  }
  100% {
    opacity: 0;
    //transform: translateX(100vw);
  }
}

