@import-normalize;
@import './variables/variables.scss';
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $secondaryColor;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.fakeHeader {
  flex-grow: 1;
}

.fakeContent {
  flex-grow: 3;
}