@import-normalize;
@import './variables/variables.scss';
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $secondaryColor;
}
.container {
  display: flex;
  flex-wrap: wrap;
  //position: relative;
  min-height: 100vh;
}